.release-container{
  .center{width:1200px;margin:0 auto;}
  .content{
    padding:20px;background-color:white;
  }
  .testing{width:100px;height:42px;background-color:#0db897;display:block;text-align:center;position:absolute;right:-120px;top:0;line-height:42px;color:white;border-radius:3px;font-size:16px;cursor:pointer;}
}

.content-right{margin-right:120px;}
.custom-box{
  height:70px;position:relative;margin-bottom:22px;
  .custom-left{
    height:100%;width:290px;background-color:#0db897;text-align:center;line-height:70px;position:absolute;left:0;top:0;
    span.title{font-size:18px;color:white;}
  }
  .custom-right{
    padding-left:290px;background-color:#eff3f3;height:100%;overflow:hidden;vertical-align:middle;
    &:before{display:inline-block;height:100%;content:'';vertical-align:middle;}
    p{
      padding:0 20px ;font-size:14px;color:#1f2d3d;line-height:20px;vertical-align:middle;display:inline-block;
    }
  }
}
.custom-box-1{
  height:42px;
  .custom-left{background:none;line-height:42px;}
  .custom-right{background:none;}
}
.custom-box-2{
  margin-bottom:0;
  .custom{height:100%;background-color:#eff3f3;}
  .title{margin-right:10px;color:#333;font-size:16px;}
  .el-form-item{margin-bottom:0;}
  .el-col{text-align:center;margin-top:17px;}
}
.remind-box{
  padding:15px 0;border-bottom:1px solid #eff2f7;
  p{font-size:14px;color:#666;line-height:20px;}
}
.upload-box{
  height:220px;position:relative;
  .upload{padding:25px 330px 25px 0;}
  .nickname-box{
    height:100%;border-left:1px solid #eff2f7;position:absolute;right:0;top:0;width:329px;
    .content{width:185px;margin:55px auto 0;}
  }
  .nickname{
    margin-bottom:10px;
    em{margin-right:5px;color:#ff4949;}
    span{color:#1f2d3d;font-size:16px;}
  }
}

.upload{
  .content{
    p{margin-left:20px;font-size:14px;color:#666;line-height:24px;}
  }
}
.cover-info{
  float:left;
}
.cover-uploader{
  float:left;
  height:120px;
  img{height:100%;}
}
.cover-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height:100%;
}
.cover-uploader .el-upload:hover {
  border-color: #409EFF;
}
.cover-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 240px;
  height: 135px;
  line-height: 135px;
  text-align: center;
  font-weight: normal;
}
.avatar {
  width: 240px;
  height: 135px;
  display: block;
}
.btn-box{
  overflow:hidden;
  .right{
    float:right;
  }
}
.tags{
  width:200px;
}
.auth{
  left:-60px;width:250px;
}
.editor{
  width:100%;height:400px;
  textarea{
    height:100%;width:100%;
  }
}

// 重写
.el-checkbox{margin-left:20px;}
.el-checkbox__label{margin-left:5px;}
.el-form-item{position:relative;}
.el-form-item__label{font-size:16px;}
.el-radio+.el-radio{margin-left:50px;}
.el-radio__label{padding-left:10px;}
.el-button--success{background-color:#0db897;border-color:#0db897;}
.el-button--success:hover{background-color:#0db897;border-color:#0db897;opacity:0.8;}
.el-button--warning{background-color:#ff9537;border-color:#ff9537;}
.el-button--warning:hover{background-color:#ff9537;border-color:#ff9537;opacity:0.8;}
